<%- include("includes/head.ejs") %>
    <div class="container">
        <div class="card-container">
            <div class="card">
                <h1>Edit Task</h1>
                <form id="edit_task" action="/update" method="post">
                    <div class="form-row">
                        <label>Task title</label>
                        <br>
                        <input class="form-field" type="text" name="title" value="<%= document.title %>">
                    </div>
                    <div class="form-row">
                        <label>Intended completion date</label>
                        <input class="form-field" type="date" name="date" value="<%= document.date %>">
                    </div>
                    <div class="form-row">
                        <label>Task details</label>
                        <textarea class="form-field form-text" form="edit_task" rows=5 cols=50
                            name="details"><%= document.details %></textarea>
                    </div>
                    <div class="btn-container">
                        <input type="hidden" name="id" value="<%= document.id %>">
                        <button class="btn" type="submit">Update</button>
                        <form id="cancel_update" action="/" method="get">
                            <button class="btn">Cancel</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("includes/end.ejs") %>