<%- include("includes/head.ejs") %>
<div class="container">
    <div class="card-container">
        <% tasks.forEach(function(task) { %>
        <div class="card">
            <h1><%= task.title %></h1>
            <div class="paragraph-box">
                <button class="btn"><i class="fas fa-plus"></i></button>
                <button class="btn"><i class="fas fa-minus"></i></button>
                <p><%= task.description %></p>
                <h3>Completion Date: <%= task.date %></h3>   
            </div>
            <div class="btn-container">
                <form action="/delete" method="post" >
                    <input type="hidden" name="id" value="<%= task.id %>">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
        </div>
        <% }) %>
        <div class="card">
            <div class="paragraph-box">
                <!-- <button class="btn"><i class="fas fa-plus"></i></button> -->
                <button class="btn"><i class="fas fa-minus"></i></button>
                <h1>Create New Task</h1>
                
            </div>
            <form id="create_task" action="/add" method="post">
                <div class="form-row">
                    <label>Enter task title</label>
                    <br>
                    <input class="form-field" type="text" name="title">
                </div>
                <div class="form-row">
                    <label>Intended completion date</label>
                    <input class="form-field" type="date" name="date">
                </div>
                <div class="form-row">
                    <label>Task details</label>
                    <textarea class="form-field form-text" form="create_task" rows=5 cols=50 name="details"></textarea>
                </div>
            
            <div class="btn-container">
                    <button class="btn" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include("includes/end.ejs") %>